@use "./utils/" as *;
.addproduct {
  padding: 7rem 0;

  @media screen and (max-width: 1080px) {
    padding: 2.5rem 0;
  }
  &__title {
    color: #333;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__form {
    gap: 0;

    @include breakpoints-up("large") {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
    }

    > div {
      margin-bottom: 1rem !important;
      input {
        font-size: 14px;
        width: 100%;
        height: 50px;
        padding-left: 10px;
        color: #2c2c2c;
        border: 1px solid #ebeeee;
        background: transparent;
        box-shadow: none;
      }

      textarea {
        font-size: 14px;
        width: 100%;
        padding-left: 10px;
        padding-top: 10px;
        color: #2c2c2c;
        border: 1px solid #ebeeee;
        background: transparent;
        box-shadow: none;
        resize: none;
      }
    }

    label {
      margin-bottom: 0.8rem;
    }

    &__right {
      &__box {
        display: grid;
        margin-top: 20px;
        place-items: center;
        border: 1px dashed #799cd9;
        position: relative;
        height: 300px;
        width: 300px;
        background: #fbfbff;
        border-radius: 20px;
        &__upload {
          #file_up {
            width: 100%;
            height: 100%;
            outline: none;

            &::before {
              content: url("../assets/images//upload.png");
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: white;
              text-align: center;
              cursor: pointer;
              @include flex(center, center);
            }
          }

          #file_img {
            width: 300px;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;

            img {
              margin-top: 0.5rem;
              width: 280px;
              height: 280px;
              object-fit: contain;
            }

            span {
              position: absolute;
              top: -13px;
              right: -13px;
              background: white;
              border: 1px solid #ddd;
              border-radius: 50%;
              padding: 6px 10px;
              cursor: pointer;
              font-weight: 900;
              color: crimson;
            }

            .loader {
              @include flex(center, center);
              height: 300px;
            }
          }
        }
      }
    }

    &__button {
      @media screen and (max-width: 767px) {
        margin-top: 1.5rem;
      }
      button {
        background: var(--main-color);
        height: 50px;
        line-height: 50px;
        width: 200px;
        font-size: 16px;
        color: #fff;
        display: block;
        transition: all 0.5s ease;
        &:hover {
          background: rgb(165, 5, 29);
        }
      }
    }
  }
}
