@use "./utils/" as *;

.banner {
  &__desc {
    width: 100%;
    margin: 0 auto;

    @include breakpoints-up("large") {
      width: 600px;
    }
    p {
      font-size: 16px;
      font-weight: 700;

      margin-left: 1rem;
      margin-right: 1rem;

      color: #fff;
      letter-spacing: 1px;
      font-family: "Raleway", sans-serif;
      @include breakpoints-up("large") {
        font-size: 20px;
      }
    }

    h1 {
      font-size: 2rem;
      color: #ffc800;
      font-weight: 700;
      font-family: "Raleway", sans-serif;
      margin-left: 1.5rem;
      margin-right: 1.5rem;

      @include breakpoints-up("xlarge") {
        font-size: 4rem;
        margin-left: 0rem;
        margin-right: 0rem;
      }
    }

    button {
      background: #fff;
      height: 50px;
      line-height: 50px;
      width: 180px;
      // padding: 0 50px;
      font-size: 16px;
      color: #2c2c2c;

      display: block;
      margin: 1rem auto;
      transition: all 0.5s ease;
      font-family: "Raleway", sans-serif;
      font-weight: 600;

      &:hover {
        background-color: #ffc800;
        color: #fff;
      }
    }
  }
}

// override bootstrap style
.carousel-inner {
  @include breakpoints-up("xxlarge") {
    height: 100vh;
  }
  @include breakpoints-down("large") {
    height: 60vh;
  }

  .carousel-caption {
    top: 15%;
    left: 0%;

    @include breakpoints-up("large") {
      top: 17%;
      left: 15%;
    }
    @include breakpoints-up("large") {
      top: 20%;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  @media screen and (max-width: 968px) {
    top: -15% !important;
  }
}
.carousel-item {
  img {
    @media screen and (max-width: 767px) {
      height: 50vh !important;
    }
  }
}

.carousel-indicators {
  display: none;
}
