@use "./utils/" as *;
.footer {
  background-color: #222222;
  color: #fff;
  &__container {
    row-gap: 2rem;
    @include breakpoints-up("medium") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoints-up("large") {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoints-up("xlarge") {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__logo,
  &__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__logo {
    display: inline-block;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }

  &__links {
    display: grid;
    row-gap: 0.5rem;

    li {
      a {
        font-size: 15px;
        color: #fff;
        &:hover {
          color: var(--main-color);
        }
      }
    }
  }

  &__social {
    @include flex(center, center);
    gap: 1rem;

    li {
      svg {
        font-size: 20px;
        transition: all 0.5s ease;
        &:hover {
          color: var(--main-color);
        }
      }
    }
  }

  &__location {
    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      svg {
        font-size: 16px;
      }
    }
  }

  &__copyright {
    margin-top: 5rem;
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
}
