@use "./utils/" as *;

.myorders {
  padding: 7rem 0;

  @media screen and (max-width: 1080px) {
    padding: 2.5rem 0;
  }
  h2 {
    font-size: 2.5rem;
    color: #2c2c2c;
    margin-bottom: 3rem;
  }
  button {
    padding: 0.3rem 1rem;
  }
}

.order-loading {
  border-bottom-width: 0px !important;
}
