@use "./utils/" as *;

.products {
  &__items {
    margin-top: 4rem;
    @include breakpoints-up("large") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoints-up("xlarge") {
      grid-template-columns: repeat(3, 1fr);
    }
    &__item {
      width: 260px;
      margin: 0 auto;
      transition: all 0.5s ease;
      position: relative;

      &:hover &__buttons {
        opacity: 1;
        bottom: 40%;
      }

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
      }
      @include breakpoints-up("small") {
        width: 330px;
      }

      @include breakpoints-up("medium") {
        width: 350px;
      }

      @include breakpoints-up("large") {
        width: 100%;
      }

      &__buttons {
        position: absolute;

        // bottom: 0;
        z-index: 100;
        width: 80%;
        right: 10%;
        bottom: 45%;
        opacity: 0;
        transition: all 0.5s ease;

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          button {
            background: var(--main-color);
            height: 50px;
            line-height: 50px;
            width: 100%;
            // padding: 0 50px;
            font-size: 16px;
            color: #fff;

            display: block;

            transition: all 0.5s ease;

            &:hover {
              background: rgb(165, 5, 29);
            }
          }
        }
      }

      img {
        width: 280px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }

      &__content {
        text-align: center;
        margin-bottom: 2.5rem;
        padding: 0 1.5rem;

        h2 {
          font-size: 1.5rem;
          color: #2c2c2c;
        }
      }
    }
  }
}
