@use "./utils/" as *;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: outside none none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a,
button {
  line-height: inherit;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

a,
button,
img,
input,
span {
  transition: all 0.3s ease 0s;
}

*:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

// global resuse classes
.container-div {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  //min-width: 1024px
  @include breakpoints-up("xlarge") {
    margin: 1rem auto;
  }
  @include breakpoints-up("xxlarge") {
    max-width: 1200px;
  }
}

.section {
  padding: 5rem 0;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.button {
  background: var(--main-color);
  height: 50px;
  line-height: 50px;
  width: 100%;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 1rem auto;
  transition: all 0.5s ease;

  &:hover {
    background: rgb(165, 5, 29);
  }
}
