@use "./utils/" as *;

.main {
  height: 100%;
  @media screen and (min-width: 1080px) {
    margin-left: 18vw;
  }

  @include breakpoints-up("medium") {
    padding: 0 2rem;
  }
}

.sidebar {
  margin-top: 5rem;
  position: fixed;
  left: 0;
  background-color: #212121;
  height: 100vh;
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 2rem;
  .top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .toggle {
      display: none;
    }
    .brand {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      svg {
        color: #fff;
        font-size: 2rem;
      }
      span {
        font-size: 2rem;
        color: #fff;

        font-family: "Permanent Marker", cursive;
      }
    }
    .links {
      display: flex;
      justify-content: center;
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li {
          padding: 0.6rem 1rem;
          border-radius: 0.6rem;
          transition: all 0.5s ease;
          &:hover {
            background: rgb(165, 5, 29);
          }
          a {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: #fff;
          }
        }
        .active {
          background: rgb(165, 5, 29);
          a {
            color: #fff;
          }
        }
      }
    }
  }

  .logout {
    padding: 0.3rem 1rem;
    border-radius: 0.6rem;
    &:hover {
      background-color: #da0037;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
    }
  }
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    position: initial;
    width: 100%;
    height: max-content;
    padding: 1rem;
    .top {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      .toggle {
        display: block;
        color: white;
        z-index: 99;
        svg {
          font-size: 1.4rem;
        }
      }
      .brand {
        gap: 1rem;
        justify-content: flex-start;
      }
    }
    .top > .links,
    .logout {
      display: none;
    }
  }
}

.responsive {
  margin-top: 5rem;
  position: fixed;
  right: -10vw;
  top: 0;
  z-index: 10;
  background-color: black;
  height: 100vh;
  //   width: ${({ state }) => (state ? "60%" : "0%")};
  //   width: 60%;
  transition: 0.5s ease-in-out;
  display: flex;
  opacity: 0;
  visibility: hidden;
  padding: 1rem;
  .responsive__links {
    ul {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 3rem;
      li {
        padding: 0.6rem 1rem;
        border-radius: 0.6rem;

        a {
          display: flex;
          align-items: center;
        }
        &:hover {
          background: rgb(165, 5, 29);
        }
        a {
          text-decoration: none;
          display: flex;
          gap: 1rem;
          color: white;
        }
      }
      .active {
        background: rgb(165, 5, 29);
        a {
          color: #fff;
        }
      }
    }
  }
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  right: 0 !important;
}
