@use "./utils/" as *;

.simple {
  height: 100vh;
  background: url("../assets/cuisines/simple-delicious.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  position: relative;
  background-attachment: fixed;
  @include flex(center, center);

  &__overlay {
    position: absolute;
    content: "";
    background: rgba(19, 59, 102, 0.301);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__content {
    z-index: 10;
    text-align: center;
    p {
      font-size: 16px;
      color: #fff;
      font-weight: 600;
    }

    h3 {
      color: var(--main-color);
      font-size: 4rem;
      font-weight: 700;

      @include breakpoints-down("medium") {
        font-size: 3rem;
      }
    }

    h5 {
      font-size: 1.7rem;
      font-weight: 600;
      color: #fff;
      margin: 1rem 0;
      margin-bottom: 1.5rem;
    }
    .button {
      width: 200px;
    }
  }
}
