@use "./reset";

@use "./header";

@use "./login";
@use "./banner";

@use "./cuisines";

@use "./section-title";
@use "./what-special";

@use "./simle-delicious";

@use "./products";

@use "./news-letter";

@use "./our-clients";

@use "./footer";

@use "./not-found";

@use "./add-product";
