:root {
  // text Colors ---------------
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #f6f7f8;

  --transition: all 0.5s ease;
  --header-height: 5rem;

  --body-bg: #0f0f0f;

  --main-color: rgb(204, 10, 39);
}
