@use "./utils/" as *;

.clients {
  &__brands {
    justify-content: center;

    @include breakpoints-up("small") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoints-up("large") {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoints-up("medium") {
      grid-template-columns: repeat(4, 1fr);
    }
    @include breakpoints-up("xlarge") {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
