@use "./utils/" as *;

.products {
  &__items {
    margin-top: 4rem;
    @include breakpoints-up("large") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoints-up("xlarge") {
      grid-template-columns: repeat(3, 1fr);
    }
    &__item {
      width: 260px;
      margin: 0 auto;
      transition: all 0.5s ease;
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
      }
      @include breakpoints-up("small") {
        width: 330px;
      }

      @include breakpoints-up("medium") {
        width: 350px;
      }

      @include breakpoints-up("large") {
        width: 100%;
      }

      img {
        width: 280px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }

      &__content {
        text-align: center;
        margin-bottom: 2.5rem;
        padding: 0 1.5rem;

        h2 {
          font-size: 1.5rem;
          color: #2c2c2c;
        }
      }
    }
  }
}
